<app-header></app-header>

<!-- <a *ngIf="!isHome" (click)="voltar()" class="btn link-voltar btn-success"><i class="fa fa-history"></i></a>

<a *ngIf="!isHome" (click)="goToHome()" class="btn link-home btn-info"><i class="fa fa-home"></i></a> -->

<router-outlet></router-outlet>

<footer class="footer">
  <div class="versao">
    <b>Versão</b> {{ versao }}
  </div>
  <strong>Copyright © 2020 <a href="https://http://entregasos.herokuapp.com/">@EntregaSOS</a>.</strong> Todos os
  direitos reservados.
</footer>
