<h1>Entrega SOS</h1>

<button *ngIf="!isHome" (click)="voltar()" class="btn link-voltar btn-success"><i class="fa fa-history"></i></button>

<button *ngIf="!isHome" (click)="goToHome()" class="btn link-home btn-info"><i class="fa fa-home"></i></button>

<router-outlet></router-outlet>

<hr/>

<footer class="footer">
  <div class="versao">
    <b>Versão</b> {{ versao }}
  </div>
  <strong>Copyright © 2020 <a href="https://http://entregasos.herokuapp.com/">Entrega SOS</a>.</strong> Todos os direitos reservados.
</footer>