<p>Exibindo comerciantes do bairro {{ bairro}}</p>

<ul>
  <li>
    <a href="javascript:void(0)">Mercadinho do seu zé</a>
  </li>
  <li>
    <a href="javascript:void(0)">Mercadinho do seu zé</a>
  </li>
  <li>
    <a href="javascript:void(0)">Mercadinho do seu zé</a>
  </li>
  <li>
    <a href="javascript:void(0)">Mercadinho do seu zé</a>
  </li>
  <li>
    <a href="javascript:void(0)">Mercadinho do seu zé</a>
  </li>
  <li>
    <a href="javascript:void(0)">Mercadinho do seu zé</a>
  </li>
  <li>
    <a href="javascript:void(0)">Mercadinho do seu zé</a>
  </li>
</ul>
