/* You can add global styles to this file, and also import other style files */

.link-voltar {
  position: absolute;
  right: 10px;
  top: 35px;
}

.link-home {
  position: absolute;
  right: 55px;
  top: 35px;
}