.checks {
  display: flex;
  align-items: center;

  label {
    display: flex;
    align-items: center;
    width: calc(95% / 3);
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    margin-right: .3rem;
    min-height: 38px;
    font-weight: normal;
    padding-left: .5rem;
    font-size: .95rem;
    cursor: pointer;

    input {
      margin-right: .5rem;
    }
  }
}

.terms {
  width: 100%;
  max-width: 1024px;
  margin: 2rem auto;

  h2 {
    margin: 1rem 0;
  }

  .content {
    height: 100%;
    max-height: 60vh;
    overflow: auto;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 1rem;
  }

  .buttons {
    padding: 1rem;

    button {
      margin: 0 .5rem;
    }
  }
}

.card-subtitle {
  float: right;
  font-size: 10pt;
  text-align: justify;
  // color: gray;
  margin-top: 20px;
  
  // text-decoration: underline;
}
